---
layout: release_post
title: Release Notes
subtitle: '📒 패치 노트'
permalink: /release/
published: true
---
<body>
    <div class="container">
        <h4 style="color:Blue; font-weight: bold;">클릭하시면 자세히 볼 수 있습니다!</h4>
        <h4 style="color:Grey; font-weight: normal;">이 페이지는 PC버전에 최적화 되어있습니다.</h4>
        <ul class="timeline">
            {% for event in site.data.release %}
                <li class="timeline">
                    <div class="icon done"></div>
                    <details class="panel">
                        <summary>{{event.date}}</summary>
                        <ol>
                            {% if event.lists %}
                                {% for list in event.lists %}
                                    <li>{{list.list}}</li>
                                {% endfor %}
                            {% endif %}

                            {% if event.paragraphs %}
                                {% for paragraph in event.paragraphs %}
                                    <p>{{paragraph.paragraph}}</p>
                                {% endfor %}
                            {% endif %}
                        </ol>
                    </details>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
