<header class="bar-header">
    <a id="menu" role="button">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
                {% include logo.html %}
            {% else %}
                {{ site.name }} <span class="version">{{ site.version }}</span>
            {% endif %}
        </a>
    </h1>
    <a id="search" class="dosearch" role="button">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    {% if site.show_post_btn %}
        <a href="https://github.com/login?client_id=c602a8bd54b1e774f864&return_to=%2Flogin%2Foauth%2Fauthorize%3Fclient_id%3Dc602a8bd54b1e774f864%26redirect_uri%3Dhttps%253A%252F%252Fprose.io%252F%2523NJHdev%252Fnjhdev.github.io%252Fnew%252Fmaster%252F_posts%26scope%3Drepo" class="write-post" role="button">
            글쓰기
        </a>
    {% endif %}
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
