---
layout: default
---

<meta http-equiv="refresh" content="3;url=/">

<!-- 설명글 Style -->
<style type="text/css" media="screen">
  @font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  .container {
    font-family: 'IM_Hyemin-Bold', cursive;
    margin: 0px auto;
    max-width: 600px;
    text-align: center;
    padding-top: 60px;
    font-size: 20px;
  }
</style>

<!-- 버튼 Style -->
<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
  span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
  span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;

  }
  span a:before,
  span a:after{
    position: absolute;
    content: "Go to Main";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }
  span a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }

</style>

<!-- 본문 -->
<div class="container">
  <img src="/assets/img/404.gif" width="100%" alt="{{ site.translations.error_404.image_alt | default: '404 - Page not found' }}">
  <p><strong>{{ site.translations.error_404.title | default: "페이지를 찾을 수 없습니다." }}</strong></p>
  <p>{{ site.translations.error_404.message | default: "잠시 후 메인페이지로 돌아갑니다😊😊" }}</p>
  <!--<span><a href="{{ site.url }}"></a></span>-->
</div>
