---
layout: post
---
{% if page.youtube_embed %}
<iframe width="864" height="486" src="https://www.youtube.com/embed/{{page.youtube_embed}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endif %}

{{ content }}

<p style="color: #a6a6a6; font-size: rem(10px);">&raquo;악보의 2차 가공, 배포 등의 행위는 금지합니다. 이 글의 링크 공유만 허용합니다.&laquo;</p>

<script>
  function download(){
    $('head').append('<meta http-equiv="refresh" content="0; url=https://drive.google.com/uc?export=download&id={{ page.google_file_code }}">');
  }
</script>
