---
layout: post
---
{% if page.youtube_embed %}
<iframe width="864" height="486" src="https://www.youtube.com/embed/{{page.youtube_embed}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endif %}

{{ content }}

<p style="font-size: 18px; border:5px groove; border-radius: 10px; padding:8px; margin: 23px;">
  <span style="color: #fa4646; font-size: 22px;">
      <i class="fas fa-tasks" aria-hidden="true" style="color: #000000"></i> 필독!!!
    </span>
    <span>
      <br><i class="fas fa-thumbtack" aria-hidden="true"></i> 다운로드가 안될경우, <a style="color: #3a04c4; text-decoration: underline; text-underline-position: under;" href="https://njhdev.com/contact/">Contact</a> 탭으로 문의 부탁드립니다!
      <br><i class="fas fa-thumbtack" aria-hidden="true"></i> 2차 가공, 배포 등의 행위는 금지합니다.
      <br><i class="fas fa-thumbtack" aria-hidden="true"></i> 이 글의 링크 공유만 허용합니다.
    </span>
</p>>
<script>
  function download(){
    $('head').append('<meta http-equiv="refresh" content="0; url=https://drive.google.com/uc?export=download&id={{ page.google_file_code }}">');
  }
</script>
